# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# IDEs
.vscode/
.idea/

# Local data
*.log
data/
nexus.db